<div class="flex flex-col items-center max-w-5xl mx-auto px-4 mt-8">
  <div class="w-full mt-4 space-y-4">
    <% if @diaries.any? %>
      <%= render @diaries %>
    <% else %>
      <div class="alert alert-info shadow-lg">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <span>まだ日記がありません。最初の投稿をしてみましょう！</span>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="mt-8 text-center">
    <%= link_to '日記を書く', new_diary_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>