<div class="flex flex-col items-center max-w-5xl mx-auto px-4 mt-8">
  <%= render "search", url: my_diaries_diaries_path %>
  
  <div class="w-full mt-8 space-y-4">
    <% if @diaries.any? %>
      <%= render @diaries %>
    <% else %>
      <div class="alert alert-info shadow-lg">
        <div class="flex space-x-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <span>まだ日記がありません。最初の投稿をしてみましょう！</span>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="lg:hidden">
    <%= render 'shared/fab_button' %>
  </div>
</div>