<div class="fixed bottom-20 right-4 z-40 transition-transform duration-300 ease-in-out transform translate-y-0 md:right-1/7" data-controller="fab-button">
  <%= link_to new_diary_path, class: "btn btn-primary btn-circle w-14 h-14 shadow-lg" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-secondary-content" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
    </svg>
  <% end %>
</div>