<header class="py-1 px-2 md:py-2 md:px-6 lg:py-2 lg:px-10 border-b border-primary flex items-center justify-between">
  <div class="flex items-center">
    <%= image_tag "hidamarinikki.logo.svg", alt: "ロゴ", class: "pb-2 h-12 w-12 sm:h-14 w-14 lg:h-16 w-16" %>
    <%= link_to t('.site_name'), home_path, class: "font-mplus font-bold text-primary md:ml-2 text-md sm:text-lg lg:text-xl" %>
  </div>

  <div>
    <div class="drawer drawer-end">
        <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
        <label for="my-drawer-4" class="btn btn-circle swap swap-rotate btn-neutral btn-ghost">
            <input type="checkbox" />
            <svg class="swap-off fill-current text-neutral" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z" /></svg>
            <svg class="swap-on fill-current text-neutral" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><polygon points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49" /></svg>
        </label>
        </div> 
        <div class="drawer-side z-50">
        <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
          <li><%= link_to "ひだまり日記の書き方ガイド", diary_writing_tips_path %></li>
          <li><a>利用規約（準備中）</a></li>
          <li><a>プライバシーポリシー（準備中）</a></li>
          <li><a>お問い合わせ（準備中）</a></li>
        </ul>
        </div>
    </div>
  </div>
</header>