<div class="max-w-md mx-auto p-4">
  <%= link_to new_diary_path, class: "card card-body bg-secondary shadow-xl" do %>
    <h2 class="card-title">日記を書く</h2>
    <p>今日あった良かったことや、<br>
    ちょっと頑張ったことなどを書いてみよう！</p>
  <% end %>
</div>