@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Zen+Maru+Gothic&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "hidamarinikki";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #FFFAE8;
  --color-base-200: #FDFBF7;
  --color-base-300: #E9E4D3;
  --color-base-content: #333333;
  --color-primary: #ff9966;
  --color-primary-content: #333333;
  --color-secondary: #FFC78A;
  --color-secondary-content: #FDFBF7;
  --color-accent: #88b04b;
  --color-accent-content: #333333;
  --color-neutral: #FFB5A7;
  --color-neutral-content: #333333;
  --color-info: #A5D8FF;
  --color-info-content: #333333;
  --color-success: #81c784;
  --color-success-content: #333333;
  --color-warning: oklch(68% 0.18 50);
  --color-warning-content: #333333;
  --color-error: oklch(60% 0.2 35);
  --color-error-content: #333333;
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}



@plugin "daisyui/theme" {
  name: "sunset";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(18% 0.019 237.69);
  --color-base-200: oklch(20% 0.019 237.69);
  --color-base-300: oklch(22% 0.019 237.69);
  --color-base-content: oklch(77.383% 0.043 245.096);
  --color-primary: oklch(74.703% 0.158 39.947);
  --color-primary-content: oklch(14.94% 0.031 39.947);
  --color-secondary: #FFB347;
  --color-secondary-content: oklch(14.507% 0.035 2.72);
  --color-accent: #E91E63;
  --color-accent-content: oklch(14.258% 0.033 299.844);
  --color-neutral: oklch(26% 0.019 237.69);
  --color-neutral-content: oklch(70% 0.019 237.69);
  --color-info: oklch(85.559% 0.085 206.015);
  --color-info-content: oklch(17.111% 0.017 206.015);
  --color-success: oklch(85.56% 0.085 144.778);
  --color-success-content: oklch(17.112% 0.017 144.778);
  --color-warning: oklch(85.569% 0.084 74.427);
  --color-warning-content: oklch(17.113% 0.016 74.427);
  --color-error: oklch(85.511% 0.078 16.886);
  --color-error-content: oklch(17.102% 0.015 16.886);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}



@theme {
  /* フォント */
  --font-zen_maru: "Zen Maru Gothic", sans-serif;
  --font-mplus: "M PLUS Rounded 1c", sans-serif;
}

.btn {
  --btn-noise: none;
  font-family: var(--font-mplus);
}
.btn:active {
  opacity: 0.5;
}

.textarea {
  min-height: auto;
  height: 48px;
}

.textarea-profile {
  min-height: auto;
  height: 200px;
}

.tooltip::before {
  padding: 8px 8px;
}


@layer utilities {
  /* 横ゆらゆら */
  @keyframes sway {
    0%, 100% { transform: rotate(10deg); }
    50%      { transform: rotate(-10deg); }
  }

  .sway {
    transform-origin: center bottom;
    animation: sway 2s ease-in-out infinite;
    display: inline-block;
  }

  /* フェードイン */
  @keyframes fade-in {
    from { opacity: 0; transform: translateY(15px); }
    to   { opacity: 1; transform: translateY(0); }
  }
  .fade-in {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  .fade-delay-100 { animation-delay: 0.1s; }
  .fade-delay-300 { animation-delay: 0.3s; }
  .fade-delay-500 { animation-delay: 0.5s; }
  .fade-delay-700 { animation-delay: 0.7s; }
  .fade-delay-800 { animation-delay: 0.8s; }
}

/* ローディングアニメーション　*/
@theme {
  @keyframes hourglass {
    0% {
      transform: rotate(0deg);
      box-shadow:
        inset theme(colors.blue.500) 0 0 0 0,
        inset theme(colors.gray.200) 0 -2em 0 0,
        inset theme(colors.blue.500) 0 -4em 0 0;
    }
    80% {
      transform: rotate(0deg);
      box-shadow:
        inset theme(colors.blue.500) 0 -2em 0 0,
        inset theme(colors.gray.200) 0 -2em 0 0,
        inset theme(colors.blue.500) 0 -2em 0 0;
    }
    100% {
      transform: rotate(180deg);
      box-shadow:
        inset theme(colors.blue.500) 0 -2em 0 0,
        inset theme(colors.gray.200) 0 -2em 0 0,
        inset theme(colors.blue.500) 0 -2em 0 0;
    }
  }
}

.animate-hourglass {
  animation: hourglass 1s linear infinite;
}

  .animate-hourglass {
    animation: hourglass 1s linear infinite;
  }

@layer components {
  .note {
    background-image: linear-gradient(
        transparent calc(100% - 1px),
        #e6edf3 50%,
        #e6edf3
      ),
      linear-gradient(
        90deg,
        transparent calc(100% - 1px),
        #e6edf3 50%,
        #e6edf3
      );
    background-size: 12px 12px;
    background-repeat: repeat;
    background-color: #ffffff;
    color: #333333;
  }

  .tape {
    position: relative;
    margin: 1.5em auto;
    padding: 2.5em 1.5em 1.5em;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
    color: #333333;
  }

  .tape span {
    position: absolute;
    top: -15px;
    transform: translateX(-.3em) rotate(-5deg);
    padding: .5em 2em;
    border-right: 2px dotted rgb(0 0 0 / 10%);
    border-left: 2px dotted rgb(0 0 0 / 10%);
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    background-color: rgb(255 255 255 / 40%);
    font-weight: 600;
  }

  .tape p {
    margin: 0;
  }

  .highlight {
    text-decoration: underline; /* 下線 */
    text-decoration-thickness: 0.5em; /* 線の太さ */
    text-decoration-color: rgba(255, 228, 0, 0.4); /* 線の色 */
    text-underline-offset: -0.2em; /* 線の位置。テキストに重なるようにやや上部にする */
    text-decoration-skip-ink: none; /* 下線と文字列が重なる部分でも下線が省略されない（線が途切れない） */
  }

  .highlight-blue {
  text-decoration-color: rgba(135, 206, 250, 0.4);
  }
}


