@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Zen+Maru+Gothic&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "hidamarinikki";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #FFFAE8;
  --color-base-200: #F7F2E2;
  --color-base-300: #E9E4D3;
  --color-base-content: #333333;
  --color-primary: #ff9966;
  --color-primary-content: #333333;
  --color-secondary: #FFC78A;
  --color-secondary-content: #333333;
  --color-accent: #88b04b;
  --color-accent-content: #333333;
  --color-neutral: #FFB5A7;
  --color-neutral-content: #333333;
  --color-info: #A5D8FF;
  --color-info-content: #333333;
  --color-success: #81c784;
  --color-success-content: #333333;
  --color-warning: oklch(68% 0.18 50);
  --color-warning-content: #333333;
  --color-error: oklch(60% 0.2 35);
  --color-error-content: #333333;
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "sunset";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(22% 0.019 237.69);
  --color-base-200: oklch(20% 0.019 237.69);
  --color-base-300: oklch(18% 0.019 237.69);
  --color-base-content: oklch(77.383% 0.043 245.096);
  --color-primary: oklch(74.703% 0.158 39.947);
  --color-primary-content: oklch(14.94% 0.031 39.947);
  --color-secondary: oklch(72.537% 0.177 2.72);
  --color-secondary-content: oklch(14.507% 0.035 2.72);
  --color-accent: oklch(71.294% 0.166 299.844);
  --color-accent-content: oklch(14.258% 0.033 299.844);
  --color-neutral: oklch(26% 0.019 237.69);
  --color-neutral-content: oklch(70% 0.019 237.69);
  --color-info: oklch(85.559% 0.085 206.015);
  --color-info-content: oklch(17.111% 0.017 206.015);
  --color-success: oklch(85.56% 0.085 144.778);
  --color-success-content: oklch(17.112% 0.017 144.778);
  --color-warning: oklch(85.569% 0.084 74.427);
  --color-warning-content: oklch(17.113% 0.016 74.427);
  --color-error: oklch(85.511% 0.078 16.886);
  --color-error-content: oklch(17.102% 0.015 16.886);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@theme {
  /* フォント */
  --font-zen_maru: "Zen Maru Gothic", sans-serif;
  --font-mplus: "M PLUS Rounded 1c", sans-serif;
}

.btn {
  --btn-noise: none;
  font-family: var(--font-mplus);
}
.btn:active {
  opacity: 0.5;
}

.textarea {
  min-height: auto;
  height: 48px;
}

.textarea-profile {
  min-height: auto;
  height: 200px;
}

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in {
    opacity: 0;
    animation: fade-in 2s ease-out forwards;
  }
}